* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  background-color: #2a2c2b;
  font-size: 18px;
}

h1 {
  display: inline;
  font-size: 4em;
  text-decoration: none;
}

h1,
h4 {
  font-weight: lighter;
}

h4 {
  font-size: 2em;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Nav {
  display: flex;
  align-items: center;
  margin: 2.5em 2.5em 2.5em 2.5em;
}
.Nav .NavBar {
  display: flex;
  flex: 1 0 auto;
}
.Nav .NavBar div {
  display: flex;
  align-items: center;
}
.Nav .NavBar .Links {
  display: flex;
  justify-content: right;
  flex: 1 0 auto;
  align-items: center;
}
.Nav .NavBar .Links a img {
  height: 2em;
}
.Nav .NavBar .Links .me {
  height: 3em;
  border-radius: 50%;
  padding: 0.5em;
}
.Nav a {
  padding: 0.5em;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.aboutMe {
  justify-content: center;
  align-items: center;
}
.aboutMe img {
  height: 27.5em;
  width: auto;
  border-radius: 50%;
  padding: 2em;
}
.aboutMe div {
  margin: 2em;
}

.projectContainer,
.aboutMe {
  display: flex;
  margin: 2em;
  flex: 1 0 auto;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects * {
  margin: 0.5em;
}
.projects img {
  height: 27.5em;
  border-radius: 1.25em;
}
.projects div {
  display: flex;
}
.projects div div {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: right;
  font-size: 0.5em;
}
.footer a {
  color: white;
}

.modal {
  width: 50%;
  max-width: 700px;
  display: flex;
  background-color: white;
  flex-direction: column;
  color: #2a2c2b;
  border: none;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  background-color: #2a2c2b;
}
.modal div {
  margin: 0.5em;
  color: white;
  flex: 1 0 auto;
  display: flex;
}
.modal div h4 {
  flex: 1 0 auto;
}
.modal div button {
  align-self: flex-start;
  background-color: inherit;
  border: none;
}
.modal form {
  background-color: white;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
}
.modal form input,
.modal form textarea {
  padding: 0.5em;
  font-size: 1em;
  overflow: hidden;
  width: 80%;
  border: none;
  border-style: solid;
  border-radius: 10px;
  border-color: #2a2c2b;
}
.modal form :last-child {
  height: 6em;
}

.backdrop {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 16px;
  }

  .Nav {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .Nav a {
    padding: 0.25em;
  }
  .Nav .NavBar .Links a img {
    height: 1.25em;
  }
  .Nav .NavBar .Links .me {
    visibility: hidden;
  }

  h1 {
    font-size: 2em;
  }

  .aboutMe {
    flex-wrap: wrap;
  }
  .aboutMe img {
    height: 15em;
  }
}

/*# sourceMappingURL=App.css.map */
